.content{
	margin:0 auto;
	width:1000px;
	height:1000px;
	background-color:#4082E6;
	border: 2px solid;
	border-radius: 25px;
    box-shadow: 25px 25px 25px #888888;
}
.test1{
	margin:0 auto;
	background-color:#4082E6;
	width:400px;
	height:400px;
	border: 2px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #888888;
}
.test2{
	margin:0 auto;
	position:relative;
	background-color:#4082E6;
	width:400px;
	height:400px;
	border: 2px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #888888;
}
p{
	margin-left:10px;
	color:#FFFFFF;
}